%html{lang:'en'}
  %head
    %meta{name:"viewport",content:"width=device-width, initial-scale=1.0"}
    %link{href:'bootstrap/css/bootstrap.css', rel:'stylesheet'}
    %link{href:'style.css', rel:'stylesheet'}

  %body
    .navbar.navbar-inverse.navbar-static-top{role:'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{type:'button',data-toggle:'collapse',data-target:'.navbar-collapse'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href:'./'} peptagram
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.active
              %a{href:'./'} home
            %li
              %a{href:'vizhelp.html'} viz help
            %li
              %a{href:'vizgen.html'} viz generation
            %li
              %a{href:'api.html'} programming api
    #banner
      .container
        .row
          .col-lg-12
            %h1 PEPTAGRAM
            %h4 visual comparison of proteomics experiments
    #screenshot
      .container
        .row
          .col-lg-8.col-md-8
            %a{href:'examples/multiple/index.html'}
              %img{style:'width:100%',src:'multiple.png'}
            %br
            %br
    #plaintext
      .container
        .row
          .col-lg-8
            :markdown

              `peptagram` visualizes the comparison of peptide coverage across proteomics experiments. 

              It even lets you compare peptides from different search engines.

              The visualization is generated as an HTML5 visualization, which is:

              - executable: *runs on any modern webbrowser*
              - cross-platform: *everyone has a webbrowser*
              - self-contained: *just zip directory and send by email*
              - publishable: *installable on any server, even on Dropbox*

              If you would rather examine spectra in detail, try [peptide-shaker](https://code.google.com/p/peptide-shaker/) or [PepXMLViewer](http://tools.proteomecenter.org/wiki/index.php?title=TPP_Tutorial).

    #tintedtext
      .container
        .row
          .col-lg-8
            :markdown
              ## Installation

              `peptagram` consists of a set of python scripts that converts proteomics data into an HTML5 visualisation (Chrome, Safari, Firefox).

              `peptagram` requries python 2.7. If your system does not have it, you should download [python](https://www.python.org/downloads/).

              Download and unzip the package from <https://github.com/boscoh/peptagram/archive/master.zip>.

              ---

              **For developers:** to use `peptagram` as a python module, you should:

                  > pip install peptagram

              Or download the package and run:

                  > python setup.py install

              `peptagram` has two python dependencies: 

                1. [pymzml](https://github.com/pymzml/pymzML) to read `.mzML` files
                2. [uniprot](https://github.com/boscoh/uniprot) to get protein sequences from <http://uniprot.org>. 

              To install them with the python package installer [pip](https://pip.pypa.io/en/latest/installing.html):

                  > pip install pymzml uniprot

    #plaintext
      .container
        .row
          .col-lg-8
            :markdown

              ## Make  Peptagrams

              [Visualization Generation](vizgen.html) - describes how to generate peptagrams.

              ## Use Peptagrams

              [Visualization Help](vizhelp.html) - describes all the features of a peptagram.

              ## Extend New Peptagrams

              [Programming API](api.html) - describes how to automate the generation of peptagrams and how to develop your own parsers for it.
    #footer
      .container
        .row
          .col-lg-8
            :markdown
                `peptagram` was developed at the [Monash Proteomics Facility](http://monash.edu/proteomics).  <br>
                Source code hosted at <http://github.com/boscoh/peptagram> under BSD license.   <br>
                &copy; 2013. Bosco K. Ho.

    %script{src:'jquery-1.10.2.min.js'}
    %script{src:'bootstrap/js/bootstrap.js'}
